#container {
	width: 500px;
	
	margin: 0 auto;
}

p {
	margin: 5px;
}

strong {
	font-weight: bold;
}

#character_data {
	text-align: center;
}
.stat_bar {
	width: 100px;
	background-color: rgb(204, 204, 204);
	display: inline-block;
}

.clear {
	height: 1px;
	clear: both;
}