#container {
	margin: 0 auto;
	
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 9pt;
}

h1, h2, h3 {
	font-weight: bold;
	text-align: center;
	
	margin: 15px;
}

h1 {
	margin: 16px;
}

p {
	margin: 5px;
	line-height: 15px;
}

strong {
	font-weight: bold;
}

a:visited, a:active, a {
	color: rgb(35, 87, 147);
	text-decoration: none;
}
.link {
	color: rgb(35, 87, 147);
	text-decoration: none;
}

a:hover, .link:hover {
	color: #FFB300;
	
	cursor: pointer;
	cursor: hand;
	
	text-decoration: none;
}

th {
	font-weight: bold;
}

#character_data {
	text-align: center;
}
.stat_bar {
	width: 100px;
	background-color: rgb(204, 204, 204);
	display: inline-block;
	text-align: left;
}
.stat_bar>span {
	display: inline-block;
}

.clear {
	height: 1px;
	clear: both;
}

.error {
	color: red;
}