#container {
	width: 540px;
}

#player {
	float: left;
	width: 270px;
}

#mob {
	float: right;
	width: 270px;
}

.portrait {
	min-height: 130px;
	text-align: center;
}

.name {
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	line-height: 140%;
}

#mob>.name {
	background-color: rgb(255, 153, 153);
}

#player>.name {
	background-color: rgb(0, 255, 0);
}

#actions {
	background-color: rgb(153, 153, 255);
	padding: 2px;
}

#round_feedback {
	display: none;
	margin-bottom: 5px;
}

#round_feedback>ul>li {
	padding: 5px;
	margin-bottom: 2px;
}