#container {
	width: 500px;
}

.player>.name {
	background-color: rgb(0, 255, 0);
}

.player {
	float: left;
	width: 150px;
	text-align: center;
}

.portrait {
	min-height: 130px;
	text-align: center;
}

.name {
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	line-height: 140%;
}

#invent {
	min-height: 400px;
	overflow: auto;
}

#items {
	width: 60%;
}

#items-list>.item {
	float: left;
	width: 50px;
	height: 50px;
	margin: 5px;
	
	position: relative;
}

#items-list>.item>.qty {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#item-details {
	width: 35%;
	float: right;
}

#item-details>.item-actions li {
	padding: 10px;
}