#container {
	width: 500px;
}

#map_right {
	float: right;
	
	width: 160px;
}

#map {
	float: left;
	background-color: #8CDE21;
}

#map_table>div {
	margin: -2px;
	padding: 0px;
}

#mapnav p {
	margin: 10px;
}

#stat_3 {
	text-align: center;
}